<!-- text output -->
<div *ngIf="list_message; else noData" class="mx-4 mb-4 p-2 rounded example_box bg-white" style="width: auto;">
  <div>
    example data:
  </div>
  <div class="border"></div>
  <p *ngFor="let message of list_message" class="m-0 my-1">
    {{message.id}}.
    {{message.name}}
    {{message.description}}
  </p>
</div>
<ng-template #noData>
  <div class="m-4 text-center text-danger bg-white" style=" height: 300px">
    No data found. Try run database 'node app.js'.
  </div>
</ng-template>
